apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: my-app-social-network-mongodb-pvc
  namespace: social-network
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: hostpath
