apiVersion: apps/v1
kind: Deployment
metadata:
  name: graphql-service
  namespace: social-network
  labels:
    app: graphql-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: graphql-service
  template:
    metadata:
      labels:
        app: graphql-service
    spec:
      containers:
      - name: graphql-service
        image: rania290/projet-micro-graphql-service:latest
        ports:
        - containerPort: 4000
        env:
        - name: POSTS_SERVICE_URL
          value: "http://posts-service:3020"
        - name: GRAPHQL_SERVICE_PORT
          value: "4000"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /.well-known/apollo/server-health
            port: 4000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /.well-known/apollo/server-health
            port: 4000
          initialDelaySeconds: 5
          periodSeconds: 5
