apiVersion: v1
kind: Service
metadata:
  name: graphql-service
  namespace: social-network
  labels:
    app: graphql-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "4000"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: graphql-service
  ports:
  - port: 4000
    targetPort: 4000
  type: LoadBalancer